---
layout: default
title: Nitroboard
---

<div class="fixed inset-0 flex justify-center items-center">
  <div class="flex flex-col gap-8">
    <div>
      {% include "search.njk" %}
    </div>
    <div>
      <ul class="flex px-8 py-6 gap-6 justify-between items-start bg-gray-700 bg-opacity-60 rounded-lg">
        {%- for link in links.highlighted %}
          <li class="w-16">
            <a href="{{ link.url }}" target="_blank" class="flex flex-col items-center rounded text-center p-2 focus:outline-none focus:ring focus:ring-pink-500">
              <div class="mb-2">
                {% if link.logo %}
                  <img src="/assets/images/logos/{{ link.logo }}" alt="{{ link.title }}" />
                {% else %}
                  <div class="w-12 h-12 bg-gray-600 bg-opacity-50 rounded-2xl"></div>
                {% endif %}
              </div>
              <span class="text-gray-400 text-sm">{{ link.title }}</span>
            </a>
          </li>
        {%- endfor %}
      </ul>
    </div>
    <div class="grid grid-cols-3 gap-8">
      {%- for section in links.sections %}
        <div>
          <h3 class="text-gray-500 font-bold border-b border-gray-700 pb-2 mb-4">{{ section.title }}</h3>
          <ul class="flex flex-col gap-1">
            {%- for link in section.links %}
              <li><a href="{{ link.url }}" class="focus:outline-none focus:ring focus:ring-pink-500">{{ link.title }}</a></li>
            {%- endfor %}
          </ul>
        </div>
      {%- endfor %}
    </div>
  </div>
</div>
